@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f9fafb;
    color: #111827;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
